.top{
    margin: 0;
    padding: 0;
    height:175px;
    width:100%;
}
/*header部分*/
header{
    width:100%;
    height:30px;
    background:#f7f7f7;
}
.title{
    height:30px;
    width:1200px;
    margin:0 auto;

}
.title-nav-left{
    width:400px;
    height:30px;
    list-style-type: none;
    float: left;
}
.title ul li{
    float: left;
}
.title a{
    color:black;
    font:12px/30px "新宋体";
}
.about{
    padding-left:14px;
}
.title-nav-left li{
    background: url("../img/flag.jpg")no-repeat;
    padding-right:14px;
}
.title-nav-right{
    height:30px;
    width:300px;
    float: right;
}
.title-nav-right li a{
    display: block;
    height:30px;
    width:67px;
    padding-left:30px;
    background:url("../img/ghost.png") no-repeat;
}
.weChat a{
    background-position: left top;
}
.title-nav-right .blog a{
    background-position: left -30px;
}
.title-nav-right .qq a{
    background-position: left -60px;
}
/*search部分*/
.search{
    height:100px;
    width:100%;
    background-color: white;
}
.w1200{
    width:1200px;
    margin:0 auto;
}
.w1200 img{
    float: left;
}
.w1200 input{
    float: left;
    width:384px;
    height:34px;
    margin:34px 0 0 81px;
    padding-left:12px;
    border:1px solid #e0e0e0;
    background:url("../img/search.png")no-repeat right;
    border-radius: 3px;
}
.search-right{
    float: left;
    width:173px;
    height:42px;
    margin:32px 0 0 82px;

}
.search-right em{
    font:bold 24px/38px "微软雅黑";
    color:#ff7200;
}
.search-right hr{
    float: left;
    width:31px;
    border-top:0;
    margin-top:4px;
}
.search-right b{
    padding: 0 10px 0 10px;
    margin: 0;
    float: left;
    font:12px/12px "微软雅黑";
}

/*导航栏*/
.nav{
    height: 45px;
    background: #00c38e;
}
.nav ul{list-style-type: none;}
.nav ul li{
    height:45px;
    font:14px/45px "微软雅黑";
    float: left;
    /*margin-right:25px;*/
}
.nav ul .size16 a{
    padding-left:15px;
    padding-right:15px;
    color:white;
}
.nav ul li a{
    padding-left:10px;
    padding-right:10px;
    color:white;
}
.nav ul li:hover{
    background-color:#00b382;
}
.nav .size16 a{
    font-size:16px;
}
.nav ul .firstPage{
    float: left;
}
.border-r a{
    border-right: 1px solid #eee;
}